@font-face {
    font-family: 'ambleregular';
    src:url(../font/Amble-Regular-webfont.ttf) format('truetype');
}

.clear{clear:both;}

body {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: 'ambleregular';
	color: #414E59;
	background: #F5F9F2;
	max-width:80%;
	min-width: 857px;
	margin: 0 auto;
}

/************************* header logo *************************/
.logo {
	float: center;
}

/************************* menu bar *************************/
.menu_bar {
	background: #427F08;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-rfadius: 6px;
	-o-border-radius: 6px;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
}
.menu {
	float: left;
}
.menu li {
	float:left;
}
.menu li a {
	font-family: 'ambleregular';
	font-size:14px;
	text-transform:uppercase;
	color: #fff;
	display:block;
	padding:16px 20px;
	border-right: 1px ridge #E3E8E9;
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    -o-transition: all .9s;
    -ms-transition: all .9s;
    transition: all .9s;
}
.menu li a:hover,.menu li.active a{
	background:#74A14A;
}
.menu li:first-child  a{
	border-radius:6px 0 0 6px;
	-webkit-border-radius:6px 0 0 6px;
	-moz-border-rfadius:6px 0 0 6px;
	-o-border-radius:6px 0 0 6px;
}
.search_box {
	float: right;
	border: 1px solid #fff;
	background: #FFF;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	position: relative;
	margin-top:10px;
	margin-right: 15px;
	width:25%;
}
.search_box form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:13px;
	color: #4F4F4F;
	width:75%;
	padding:5px;
}
.search_box form input[type="submit"]{
	border: none;
	cursor: pointer;
	background: url(../img/search.png) no-repeat 0px 7px;
	position: absolute;
	right: 0;
	top: -3px;
	width: 20px;
	height: 25px;
}

/************************* CONTENT *************************/
/************************* index *************************/
.recent_update{
	margin-top: 20px;
	margin-bottom: 50px;
}
.recent_update h3{
	font-size: 36px;
	margin-left: 6.25%;
	margin-bottom: 20px;
}
.post_box{
	width: 25%;
	padding: 10px 1.5% 20px 1.5%;
	margin-left: 6.25%;
	line-height: 1.2;
	vertical-align: top;
	display: inline-block;
	text-overflow: ellipsis;
	word-wrap:break-word;
	overflow: hidden;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	transition: all .2s ease-in-out;
	background: #FFF;
}
.post_box h6{
	text-align: center;
	margin-bottom: 10px;
}
.post_box img{
	max-height: 180px;
	max-width: 100%;
}
.post_box h4{
	margin-bottom: 10px;
	font-size: 18px;
}
.post_box p{
	color: #8E959C;
	max-height: 80px;
	overflow: hidden;
}
.post_box:hover{
	transform: scale(1.1); 
}

/************************* slider *************************/
.mySlides img{
	max-width: 100%;
	max-height: 400px;
}

/************************* article *************************/
.recent_update hr{
	border: 2px solid #EDEDED;
	margin-bottom: 2.2em;
}
.recent_update h5{
	text-align: center;
	font-size: 22px;
	margin-bottom: 1em;
}
.all_article{
	width: 87.5%;
	margin: auto;
}
.all_article h3{
	font-size: 22px;
}

.list_article{
	width: 100%;
	margin-top: 20px;
	line-height: 1.2;
	max-height: 200px;
	padding-bottom: 30px;
	border-bottom: 0.8px solid #D3D6D8;
}
.list_article img{
	max-height: 130px;
	max-width: 250px;
	float: left;
	margin-right: 20px;
}
.list_article h4{
	margin-bottom: 10px;
}
.list_article p{
	color: #8E959C;
	font-size: 15px;
	text-overflow: ellipsis;
	word-wrap:break-word;
	overflow: hidden;
	max-height: 72px;
}
.list_article a{
	color: #414E59;
}
.list_article a:hover{
	color: #427F08;
}
.list_article h5{
	margin-top: 7px;
	font-size: 13px;
	color: #515D67;
}

.pre_next_bt{
	margin-top: 10px;
	float: right;
}
.pre_next_bt a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.pre_next_bt .next {
    background-color: #4CAF50;
    color: white;
}
.pre_next_bt .next:hover {
    background-color: #427F08;
    color: #fff;
}
.pre_next_bt .previous {
    background-color: #EDEDED;
    color: black;
}
.pre_next_bt .previous:hover {
    background-color: #427F08;
    color: #fff;
}

/************************* view article *************************/
.page_80{
	width: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.article_txt{
	margin-bottom: 20px;
}
.article_txt h2{
	font-size: 32px;
	margin-bottom: 5px;
	line-height: 1.2;
}
.article_txt h6{
	font-size: 14px;
	margin-bottom: 20px;
}
.article_txt p{
	margin-bottom: 14px;
	line-height: 1.2;
}
.article_slider{
	margin-bottom: 40px;
}

.post_comment{
	margin-bottom: 20px;
	padding: 20px;
}
.post_comment input{
	color:#4F4F4F;
	font-size: 16px;
    width: 300px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}
.post_comment .submitbt{
	margin-top: 5px;
	width: 100px;
	padding: 10px 0;
	background-color: #427F08;
    color: white;
    border-radius: 4px;
    border: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.post_comment .submitbt:hover {
	background-color: #4CAF50;
	cursor: pointer;
}
.post_comment textarea{
	color:#4F4F4F;
	font-size: 16px;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}
.comment_section hr{
	border: 1px solid #CFCFCF;
	margin-bottom: 20px;
}
.comment_section h2{
	font-size: 24px;
	margin-bottom: 20px;
}
.comment_txt h3{
	font-size: 18px;
	margin-bottom: 10px;
}
.comment_txt p{
	margin-bottom: 10px;
	line-height: 1.2;
}
.comment_txt h6{
	font-size: 14px;
	margin-bottom: 20px;
}
.comment_txt hr{
	border: 0.5px solid #CFCFCF;
	margin-bottom: 20px;
}
.admin_comment h3{
	color: GREEN;
}
.del_com{
	cursor: pointer;
	/*background-image: url(../img/trash1.png) no-repeat 0px 7px;
	position: relative;
	width: 20px;*/
	
	background: url(../img/trash.png) no-repeat 0px 0px;
	float: right;
	width: 24px;
	height: 24px;
}
.del_com:hover{
	cursor: pointer;
	background: url(../img/trasho.png) no-repeat 0px 0px;
	float: right;
	width: 24px;
	height: 24px;
}

/************************* about us *************************/
.about_text h3{
	color:#4F4F4F;
	font-size: 1.35em;
	margin-bottom: 10px;
}
.about_text{
	width: 80%;
	margin: auto;
}
.about_text p{
	color:#4F4F4F;
	line-height: 1.5;
	font-family: 'ambleregular';
}
.about_text p span{
	color:#4F4F4F;
	font-size: 1.1em;
	font-weight: bold;
	padding-left: 40px;
	font-family: 'ambleregular';
}
.policy_tb td{
	width: 16%;
	margin-left: 1%;
	color: #427F08;
	font-family: 'ambleregular';
	font-size: 18px;
	line-height: 1.1;
	text-align: center;
	vertical-align: middle;
}
.policy_tb td:last-child{
	margin-left: 0;
}
.policy_img {
	width: 80%;
	margin: auto;
	transition: all .2s ease-in-out;
}
.dlz_img{
	width: 50%;
	margin: auto;
	transition: all .2s ease-in-out;
}
.policy_tb img:hover { 
	transform: scale(1.3); 
}
.policy_tb td p{
	padding-top: 8px;
	line-height: 1.3;
	font-size:15px; 
	color: #4F4F4F;
}

/************************* contact us *************************/
.login_form {
	width: 500px;
	border-radius: 4px;
	margin: auto;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	padding: 1.5%;
	position: relative;
	background: #FFF;
	font-family: 'ambleregular';
	color:#4F4F4F;
	margin-top: 20px;
}
.login_form h2{
	text-align: center;
	padding-bottom: 10px;
	font-size: 1.2em;
	line-height: 1.2;
}
.login_form input[type=text],.login_form input[type=password]{
	color:#4F4F4F;
	font-family: 'ambleregular';
	font-size: 16px;
    width: 300px;
    padding: 8px 16px; 
    margin:auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}
.login_form .submitbt{
	width: 150px;
	margin:auto;
	display: block;
	padding: 10px 0;
	background-color: #427F08;
    color: white;
    border-radius: 4px;
    border: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.login_form .submitbt:hover {
	background-color: #4CAF50;
	cursor: pointer;
}

.user_message_scroll{
	font-size: 15px;
	height: 280px;
	width: 600px;
	overflow: auto;
	padding: 20px;
	font-family: 'ambleregular';
	border: 1px solid #CECECE;
	margin:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
}
.user_message_scroll .admin_mes{
	word-wrap:break-word;
	float: left;
	max-width: 60%;
	background-color: #F1F0F0;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 3px;
}
.user_message_scroll .user_mes{
	word-wrap:break-word;
	float: right;
	max-width: 60%;
	background-color: #427F08;
	/*background-color: #7646FF;*/
	color: white;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 3px;
}
.umessage{
	width: 516px;
	padding: 8px;
	font-family: 'ambleregular';
	border: 1px solid #CECECE;
}
.sendbt{
	font-family: 'ambleregular';
	font-size: 0.925em;
    background-color: #427F08;
    color: white;
    padding: 8px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
}
.sendbt:hover{
	background-color: #74A14A;
}

/************************* admin *************************/
.admin_full{
	width: 100%;
	margin-top: 20px;
}
.admin_left{
	width: 25%;
	max-width: 300px;
	float: left;
}
.admin_menu{
	width: 100%;
	text-align: left;
	font-size: 1em;
	font-family: 'ambleregular';
}
.admin_menu td  a{
	color :#427F08;
	padding: 12px;
	display:block;
    -webkit-transition: all .2s;
   	-moz-transition: all .2s;
   	-o-transition: all .2s;
   	-ms-transition: all .2s;
   	transition: all .2s;
}
.admin_menu td{
	border-bottom: 1px solid #D1D1D1;
}
.admin_menu td a:hover  , .admin_menu .active , .admin_menu .active a{
	background:#74A14A;
	color: white;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
}
.admin_menu th{
	text-align: left;
	padding: 14px 0 6px 20px;
	color:#fff;
	font-size: 1.2em;
	background: #427F08;
	border-radius: 6px 6px 0 0;
}
.admin_right{
	width:74%;
	float: right;
}
.table_heading h2{
	font-size:1.1em;
	color:#fff;
	padding:8px;
	font-family: 'ambleregular';
	background:#427F08; 
	border-radius: 6px 6px 0 0; 
}
.admin_search_box {
	border: 1px solid #9C9C9C;
	background: #FFF;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	position: relative;
	width:40%;
	padding: 4px;
	margin-bottom: 10px;
	float: left;
}
.admin_search_box form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:16px;
	color: #4F4F4F;
	width:75%;
	padding:5px;
	font-family: 'ambleregular';
}
.admin_search_box form input[type="submit"]{
	border: none;
	cursor: pointer;
	background: url(../img/search.png) no-repeat 0px 7px;
	position: absolute;
	right: -10px;
	top: 3px;
	width: 35px;
	height: 40px;
}
.sortby_tool{
	border: 1px solid #9C9C9C;
	background: #FFF;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	padding: 8px 4px 8px 4px;
	font-size:14px;
	color: #A9A9A9;
	font-family: 'ambleregular';
	margin-left: 10px;
}

.article_tb,.activity_tb{
	width: 100%;
	background: white;
	table-layout: fixed;
	word-wrap:break-word;
	margin-bottom: 10px;
	border:1px solid #CECECE;
	border-collapse: collapse;
	text-align: center;
	line-height: 1.2;
}
.article_tb td,.activity_tb td{
	border:1px solid #CECECE;
	border-collapse: collapse;
	vertical-align: middle;
	padding: 4px 10px;
}
.article_tb td:nth-child(1){
	width: 50%;
	text-align:left;
}
.article_tb td:nth-child(2){
	width: 30%;
}
.article_tb td:nth-child(3){
	width: 10%;
}
.article_tb td:nth-child(4){
	width: 10%;
}
.article_tb a  ,.activity_tb a{ 
	color:#4F4F4F;
	display: block;
}
.article_tb a:hover ,.activity_tb a:hover{
	color:#427F08;
}
.activity_tb td:nth-child(1){
	width: 40%;
	text-align:left;
}
.activity_tb td:nth-child(2){
	width: 20%;
}
.activity_tb td:nth-child(3){
	width: 20%;
}
.activity_tb td:nth-child(4){
	width: 10%;
}
.activity_tb td:nth-child(5){
	width: 10%;
}

/************************* admin add post  *************************/
.choosepost_form{
	width: 500px;
	border-radius: 4px;
	margin-left: 10%;
	padding: 20px;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	background: white;
}
.choosepost_form button{
	width: 200px;
	display: block;
	padding: 10px 0;
	margin-bottom: 10px;
	background-color: #427F08;
    color: white;
    border-radius: 4px;
    border: none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
.choosepost_form button:hover {
	background-color: #4CAF50;
	cursor: pointer;
}

.post_form h3{
	color: #4F4F4F;
	font-family: 'ambleregular';
	text-align: center;
	padding-bottom: 10px;
	font-size: 1.2em;
	line-height: 1.2;
}
.post_form{
	width: 90%;
	margin: auto;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	padding: 1.5%;
	position: relative;
	background: #FFF;
	font-family: 'ambleregular';
	color:#4F4F4F;
}
.add_post_tb{
	width: 100%;
}
.add_post_tb input[type=text],.add_post_tb input[type=date]{
	color:#4F4F4F;
	font-family: 'ambleregular';
	font-size: 16px;
	width: 100%;
    max-width: 350px;
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}
.add_post_tb textarea{
	width: 90%;
	color:#4F4F4F;
	font-family: 'ambleregular';
	font-size: 16px;
	line-height: 1.2;
	padding: 10px;
	margin: 8px 0;
	display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}
.add_post_tb tr{
	border-top: 1px solid #ccc;
}
.add_post_tb td:first-child{
	text-align: right;
	vertical-align: middle;
	padding-right:20px;
	width: 30%;
}
.add_post_tb td:nth-of-type(2){
	width: 40%;
}
.add_post_tb td:nth-of-type(3){
	width: 30%;
}
.add_post_tb .input_select {
	color:#4F4F4F;
	font-family: 'ambleregular';
	font-size: 16px;
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}
.filecon {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    top: 18px;
    left: 0px;
    font-family: 'ambleregular';
	font-size: 0.925em;
    background-color: #427F08;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.filecon:hover {
	background-color: #74A14A;
}
.filecon [type=file] {
    cursor: inherit;
	display: none;
}
.post_form_bt button {
	font-family: 'ambleregular';
	font-size: 16px;
    background-color: #427F08;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    float: left;
    margin-right: 5px;
    width: 125px;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -o-transition: all .1s;
    -ms-transition: all .1s;
    transition: all .1s;
}
.post_form_bt .cancelbtn {
    background-color: #74A14A;
}
.addbt:hover{
	background-color: #74A14A;
}
.cancelbtn:hover{
	background-color: #427F08;
}
.cancelbtn:hover,.addbt:hover{
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
	-o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
}

/************************* footer *************************/
.footer {
	position: relative;
	background: #F5F9F2;
    border-top: 1px solid #CECECE;
    margin:20px auto;
}
.section {
	margin: auto;
}

.section td {
	margin:0% 0 1% 3.6%;
}
.section td {
	width: 200px;
	padding:1.5% 1.5% 0 0;
}
.section h2 { /** Global Warming text **/
	color:#37560D;
	font-size: 1.25em;
	line-height: 1.2;
}
.section  h4 { /** title **/
	color:#37560D;
	margin-bottom: .7em;
	font-size: 1em;
	line-height: 1.2;
	font-family: 'ambleregular';
	font-weight: normal;
	margin-top: 0px;
	text-transform: uppercase;
}
.section  li a { /** link **/
	font-size: 0.925em;
	padding:8px 15px;
	color:#427F08;
	font-family: 'ambleregular';
	display: block;
	background:url(../img/drop_arrow.png) no-repeat 0;
}
.section  li a:hover {
	color:#74A14A;
}
.section  li span{ /** Tel **/
	font-size:0.97em;
	font-family: 'ambleregular';
	color:#427F08;
	margin:10px 0;
	display:block;
}
.section td  img{
	height: 32px;
	margin-right: 5px;
}

.copy_right {
	text-align: center;
	border-top: 1px solid #EEE;
	padding: 10px 0;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.copy_right p {
	font-size:0.823em;
	color: #747474;
}
.copy_right p a {
	color:#37560D;
	font-family: 'ambleregular';
}
.copy_right p a:hover {
	color:#85AD00;
	text-decoration: none;
}